<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss@2.2.1/simple.min.css">
</head>

<body>
    <header>
        <h1>Success</h1>
        <p>Your form has been submitted</p>
    </header>

    <main>
        <textarea>{{message}}</textarea>
        <a href="/">Return to form</a>
    </main>

    <script>
        // remove draftMessage from localStorage
        localStorage.removeItem('draftMessage');
    </script>

    <script>
        /* https://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize */
        const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
            tx[i].addEventListener("input", OnInput, false);
        }

        function OnInput() {
            this.style.height = 0;
            this.style.height = (this.scrollHeight) + "px";
        }
    </script>
</body>

</html>